@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-circle-none { 
      clip-path: circle(0% at 50% 50%); 
  }
  .clip-circle-full { 
      clip-path: circle(37% at 50% 50%); 
  }
  .clip-circle-photo { 
    clip-path: circle(2% at 2% 75%); 
}
.clip-circle-photo2 { 
  clip-path: circle(20% at 50% 50%); 
}
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html{
  overflow-x: hidden;
 background-color: rgb(51 65 85);
}

li{
  cursor:pointer
}

#buttonLinks {
  position: relative;
  display: inline-block;
  margin: 25px 0 15px 5px;
  width: 100px;
  padding: 5px ;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dda978;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #c17b5a;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

#buttonLinks:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

#buttonLinks:active {
  transform: scale(0.9);
}

