@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-circle-0 { 
      clip-path: circle(0% at 50% 50%); 
  }
  .clip-circle-25 { 
      clip-path: circle(28% at 50% 50%); 
  }
  .clip-circle-70 { 
      clip-path: circle(70% at 50% 50%); 
  }
  .clip-parallel-0 { 
    opacity: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 65% 75%, 50% 75%, 0% 75%);
  }
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

}
html{
  overflow-x: hidden;
  background-color: rgb(54, 54, 54);
}

li{
  cursor:pointer
}



